 *{
  box-sizing: border-box;
 }

 nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
 }
 .input-container{
  display: flex;
  align-items: center;
  border: 1px solid #ff6e00;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: width 1.5s;

}
.input{
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: #ff6e00;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}
.magnifier{
  position: absolute;
  right: 15px;
  width: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ff6e00;

}
ul li{
  display: inline;
  margin-left: 40px;
  font-family: sans-serif;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 70%;
  padding: 3rem;
  box-shadow: 10px 10px  40px 5px #e0e0e0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container{
  font-family: sans-serif;
  font-size: 2rem;
  color: #2c2c2c;
}
.content-container p {
  font-family: sans-serif;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: #444444;
  width: 25rem;

}
.img{
  transform:translate(-120px) ;
  margin-top: 1rem;
  width: 350px;
  height: 350px;
  border-radius: 300px;
  background: url('https://media.istockphoto.com/id/466012460/photo/vegetable-omelet-with-bulls-eye-egg-and-sprouts.jpg?s=2048x2048&w=is&k=20&c=vc3S66OfOv8bid-tA93xuKj7VT5RTYbY1g9gaZN0gyE=');
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;
}
.ingredients{
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 50px;

}
.ingredients span{
  display: flex;
  flex-wrap:  wrap;
  list-style: none;
}
.ing{
  padding: 10px 20px;
  border:  2px solid #ff6e00;
  color: #ff6e00;
  font-family: sans-serif;
  border-radius:100px ;
}